<div class="form-group ">
    <form method="POST">
        <input type="hidden" name="form-name" value="Add_form">
        <label for="designation"> designation</label>
        <p class="content-item">
            <input type="text" name="designation"> </p>
        <label for="Quantity">Quantity</label>
        <p class="content-item">
            <input type="number" min="1" name="Quantity"> </p>
        <label for="Price">Price</label>
        <p class="content-item">
            <input type="number" min="1.0" name="Price">
        </p>
        <p class="content-item">
            <p><input class="btn btn-primary" type="submit" value="Add"> </p>
        </p>
    </form>
    <!-- delete form -->
    <form action="" method="post">
        <input type="hidden" name="form-name" value="Delete_form">
        <select type="text" name="Delete_item">
                {% for i in items %}
                <option value="{{i.designation}}">{{i.designation}}</option>
                {% endfor %}
            </select> </p>
        <p class="content-item">
            <p><input class="btn btn-danger" type="submit" value="Delete"> </p>
        </p>
    </form>
    <!-- Update form -->
    <form action="" method="post">
        <input type="hidden" name="form-name" value="Update_form">
        <label for="designation">Update item</label>
        <p class="content-item">
            <select class="select" type="text" name="Update_item">
                    {% for i in items %}
                    <option value="{{i.designation}}">{{i.designation}}</option>
                    {% endfor %}
                </select> </p>
        <label for="Quantity">Quantity</label>
        <p class="content-item">
            <input type="number" min="1" name="Update_Quantity"> </p>
        <p class="content-item">
            <p><input class="btn btn-success" type="submit" value="Update"> </p>
        </p>
    </form>
</div>